body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vmin;
  height: 80vmin;
}

.chessboard > div {
  border: 1px solid #333;
}

.chessboard .light {
  background-color: #fff;
}

.chessboard .dark {
  background-color: #000;
}

.notation {
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: lightskyblue;
}

.hidden {
  display: none;
}
