body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.wrapper {
  background-color: #9fddaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vmin;
  height: 80vmin;
  margin: 2rem 0;
}

.chessboard > div {
  border: 2px solid #333;
}

.chessboard .light {
  background-color: #fff;
}

.chessboard .dark {
  background-color: #333;
}

.notation {
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(86, 188, 252);
}

.hidden {
  display: none;
}

.square.highlight {
  border: 2px solid red;
}
