:root {
  --background-color: #c9fccb;
  --border-color: #333;
  --light-color: #fff;
  --dark-color: #333;
  --highlight-dark: rgb(62, 141, 239);
  --highlight-light: rgb(86, 188, 252);
  --highlight-opacity: ;
  --answer-bg-color: #fff;
  --answer-text-color: #333;
  --menu-bg-color: #f2f2f2;
  --menu-box-shadow-color: rgba(0, 0, 0, 0.2);
  --input-border-color: #ccc;
  --button-bg-color: #4caf50;
  --button-text-color: #fff;
  --button-hover-bg-color: #45a049;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.chessboard {
  border: 4px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 75vmin;
  height: 75vmin;
}

.chessboard > div {
  border: 2px solid var(--border-color);
}

.chessboard .light {
  background-color: var(--light-color);
}

.chessboard .dark {
  background-color: var(--dark-color);
}

.notation {
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--highlight-dark);
}

.hidden {
  display: none;
}

.square.highlight {
  border: 2px solid var(--highlight-dark);
  background-color: var(--highlight-light);
  border-radius: 2px;
}

.answer {
  position: absolute;
  width: 80%;
  top: 12rem;
  left: 20px;
  color: var(--answer-text-color);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--answer-bg-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* General form styling */
.menu {
  position: relative;
  width: 75vmin;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--menu-bg-color);
  box-shadow: 0 2px 5px var(--menu-box-shadow-color);
}

/* Style inputs */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style labels */
label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;
}

/* General button styling */
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}
